[user]
	name = Ivan
	email = 7613160+qwIvan@users.noreply.github.com
	signingkey = 9BC3832EB6AA3DD6
[rerere]
	enabled = true
[commit]
	gpgsign = true
[merge]
	conflictstyle = diff3
[core]
	autocrlf = input
