[user]
	name = Ivan
	email = 7613160+qwIvan@users.noreply.github.com
	signingkey = 65FEF58DB82C95402C95C2CE05A322C6D82A1CF8
[rerere]
	enabled = true
[commit]
	gpgsign = true
[merge]
	conflictstyle = diff3
[core]
	autocrlf = input
	quotepath = false
