let mapleader=" "
set easymotion
set surround
set multiple-cursors
set ReplaceWithRegister
set highlightedyank
set clipboard=unnamedplus,unnamed
set ignorecase smartcase
set number
set relativenumber
set hlsearch
set incsearch
nnoremap <C-N> :action GotoClass<CR>
vnoremap <C-N> :action GotoClass<CR>
nnoremap <C-P> :action ParameterInfo<CR>
nnoremap <Leader>q :q<CR>
nnoremap <Leader>n :noh<CR>
nnoremap [c :action VcsShowPrevChangeMarker<CR>
nnoremap ]c :action VcsShowNextChangeMarker<CR>
