let mapleader =" "
set easymotion
set surround
set multiple-cursors
set ReplaceWithRegister
set highlightedyank
set clipboard=unnamedplus,unnamed
set ignorecase smartcase
set number
set relativenumber
set hlsearch
set incsearch
nnoremap <C-N> :action GotoClass<CR>
nnoremap <C-P> :action ParameterInfo<CR>
